@import url(http://fonts.googleapis.com/css?family=Nunito);

*
{
	font-family: font-family: 'Nunito', sans-serif;
}

#about
{
	width: 80%;
	margin: 0 auto;
	background-color: yellow;
}

#template
{
	width: 100%;
}
#name_title
{
	font-family: 'Nunito', sans-serif;
	margin-top: 2%;
	font-size: 50px;
	margin-top: 25%;
}

#navlist
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-bottom: solid black 1px;
}


#navlist li
{
	height: 80%;
	background-color: white;
	border-bottom: none !important;
	border: solid black 1px;
	display: inline;
	text-decoration: none;
	padding: 1.8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 100px;
	transition: background-color 1.5s, padding-left .5s, padding-right .5s;

}

#navlist li:hover
{
	background-color: blue;
	padding-left: 20px;
	padding-right: 20px;
	transition: background-color 1.5s, padding-left .5s, padding-right .5s;
}

#navlist a:link
{
	text-decoration: none !important;
	transition: color .5s;

}

#navlist li:hover a:link
{
	color: white;
	text-decoration: none !important;
	transition: color .5s;
}

#navbar
{

}

body
{
	font-family: 'Nunito', sans-serif !important;
}